<div class="container">
  <div class="mt-3 p-3 bg-black text-white rounded">
    <h1>upload & download</h1>
    <p>with API and file</p>
  </div>
  <div class="row pt-3">
  <div class="col-3 mb-3">
      <label for="formfile" class="form-label"> choosefile</label>
      <input class="form-control" type="file" name="" id="formfile" (change)="uploadimage($event)" [(ngModel)]="inputdata">
  </div>
  </div>
  <div class="row gap-3 justify-content-between">
    @for( file of uploadsnames ;track $index){
      <div class="card col-md-3">
        <img [src]="fileurl +file" width="150px" class="card-img-top" alt ="Card Image ">
        <div class="card-body">
          <h1 class="card-title"> {{file}} </h1>
          <p class="card-context">Card</p>
          <button type="button" class="btn btn-primary" (click)="dowenloadfile(file)">Dowenload</button>

        </div>

      </div>
    }

  </div>
</div>
